<html>
<body>
  <p class="heading">VEG MENU</p>
  <div class="gallery-image">
    <div class="img-box">
      <img src="../../assets/images/chole.jpg" alt="" />
      <div class="transparent-box">
        <div class="caption">
          <p>Chole</p>
        </div>
      </div> 
    </div>
    <div class="img-box">
      <img src="../../assets/images/noodles.png" alt="" />
      <div class="transparent-box">
        <div class="caption">
          <p>Noodles</p>
          
        </div>
      </div>
    </div>
    <div class="img-box">
      <img src="../../assets/images/paneer.jpg" alt="" />
      <div class="transparent-box">
        <div class="caption">
          <p>Paneer Kadai</p>
          
        </div>
      </div>
    </div>
    <div class="img-box">
      <img src="../../assets/images/p4.jpg" alt="" />
      <div class="transparent-box">
        <div class="caption">
          <p>Veg Kolhapuri</p>
         
        </div>
      </div> 
    </div>
    <div class="img-box">
      <img src="../../assets/images/thali.png" alt="" />
      <div class="transparent-box">
        <div class="caption">
          <p>Veg Thali</p>
          <!-- <p class="opacity-low">Cityscape</p> -->
        </div>
      </div> 
    </div>
    <div class="img-box">
      <img src="../../assets/images/sandwich.jpg" alt="" />
      <div class="transparent-box">
        <div class="caption">
          <p>Veg Sandwich</p>
    
        </div>
      </div> 
    </div>
  </div>
</body>
</html>