<html>
<body>
  <p class="heading">NON-VEG MENU</p>
  <div class="gallery-image">
    <div class="img-box">
      <img src="../../assets/images/chicken.png" alt="" />
      <div class="transparent-box">
        <div class="caption">
          <p>Chicken</p>
        </div>
      </div> 
    </div>
    <div class="img-box">
      <img src="../../assets/images/p5.jpg" alt="" />
      <div class="transparent-box">
        <div class="caption">
          <p>Chicken Tikka</p>
          
        </div>
      </div>
    </div>
    <div class="img-box">
      <img src="../../assets/images/butterchicken.jpg" alt="" />
      <div class="transparent-box">
        <div class="caption">
          <p>Butter Chicken</p>
          
        </div>
      </div>
    </div>
    <div class="img-box">
      <img src="../../assets/images/chicken1.png" alt="" />
      <div class="transparent-box">
        <div class="caption">
          <p>Chicken special</p>
         
        </div>
      </div> 
    </div>
    <div class="img-box">
      <img src="../../assets/images/muttoncurry.jpg" alt="" />
      <div class="transparent-box">
        <div class="caption">
          <p>Mutton Curry</p>
          <!-- <p class="opacity-low">Cityscape</p> -->
        </div>
      </div> 
    </div>
    <div class="img-box">
      <img src="../../assets/images/pahadimutton.jpg" alt="" />
      <div class="transparent-box">
        <div class="caption">
          <p>Pahadi Mutton</p>
    
        </div>
      </div> 
    </div>
  </div>
</body>
</html>