<html>
<body>
  <p class="heading">SOUTH INDIAN MENU</p>
  <div class="gallery-image">
    <div class="img-box">
      <img src="../../assets/images/dosa.png" alt="" />
      <div class="transparent-box">
        <div class="caption">
          <p>Dosa</p>
        </div>
      </div> 
    </div>
    <div class="img-box">
      <img src="../../assets/images/onionutappa.jpg" alt="" />
      <div class="transparent-box">
        <div class="caption">
          <p>Onion Utappa</p>
          
        </div>
      </div>
    </div>
    <div class="img-box">
      <img src="../../assets/images/idlidosa.jpg" alt="" />
      <div class="transparent-box">
        <div class="caption">
          <p>Idli Dosa</p>
          
        </div>
      </div>
    </div>
    <div class="img-box">
      <img src="../../assets/images/idlisambar.jpg" alt="" />
      <div class="transparent-box">
        <div class="caption">
          <p>Idli Sambar</p>
         
        </div>
      </div> 
    </div>
    <div class="img-box">
      <img src="../../assets/images/ravaidli.jpg" alt="" />
      <div class="transparent-box">
        <div class="caption">
          <p>Rava Idli</p>
          <!-- <p class="opacity-low">Cityscape</p> -->
        </div>
      </div> 
    </div>
    <div class="img-box">
      <img src="../../assets/images/vadasambar.jpg" alt="" />
      <div class="transparent-box">
        <div class="caption">
          <p>Vada Sambar</p>
    
        </div>
      </div> 
    </div>
  </div>
</body>
</html>